.wow {
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: black;
  background-color: #fff8eb;
}

section {
  min-height: 100vh;
}

h1,
h2 {
  font-family: 'Parisienne', cursive;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 40px;
}


/*frames transparent under headings*/

.frame-transparent {
  position: relative;
  width: auto;
  max-width: 80%;
  border: 1px solid black;
  border-top: none;
  text-align: center;
  margin: 100px auto;
}

.frame-transparent h1 {
  position: relative;
  margin-top: -1em;
  display: inline-block;
}

.frame-transparent__top-border {
  position: absolute;
  height: 1px;
  width: 20%;
  background-color: black;
}

.frame-transparent__top-border__right {
  right: 0;
}

.frame-transparent__top-border__left {
  left: 0;
}

.frame-transparent p {
  padding: 0 10%;
}


/*end frames transparent under headings*/


/***** HEADER *****/

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.header__logo-container {
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__logo {
  height: 150px;
  width: auto;
  max-width: 100%;
}

nav {
  width: 85%;
  padding: 0 5%;
}

nav ul.header__menu {
  margin: auto;
  padding: 15px 0 15px 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__menu li {
  float: left;
  position: relative;
}

.header__menu a {
  color: black;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  /*  letter-spacing: 1px;*/
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

.header__menu ul {
  list-style: none;
  position: absolute;
  display: none;
}

.header__menu ul li {
  float: none;
  margin: 0;
  padding: 0;
}

.header__menu ul a {
  white-space: nowrap;
}


/* display dropdown on hover */

.header__menu li:hover ul {
  display: block;
}

.header__menu li:hover a {
  /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
  color: black;
  text-decoration: none;
}


/**smaller header - shrinked on scroll**/


/* Transitions */

header,
header .header__logo-container,
header .header__logo,
header nav ul.header__menu {
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
}

header.smaller,
header.subpages-header {
  height: 17vh;
}

header.smaller-main {
  background-color: #fff8eb9d;
}

header.smaller .header__logo-container,
header.subpages-header .header__logo-container {
  margin-top: 12px;
  border-radius: 0;
  border: 0;
}

header.smaller .header__logo,
header.subpages-header .header__logo {
  margin-top: 0;
  height: 50px;
}

header.smaller nav ul.header__menu,
header.subpages-header hav ul.header__menu {
  margin: 0;
  padding: 10px 0 10px 0;
}


/*hamburger menu*/

#nav-toggle {
  display: none;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

#nav-toggle.active~nav {
  display: flex;
}

#nav-toggle.active~nav ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 249, 213, 0.767);
}

@media all and (max-width: 1099px) {
  nav {
    width: 90%;
    letter-spacing: 0;
    padding: 0
  }
}

@media all and (max-width: 880px) {
  header {
    justify-content: space-around;
    align-items: center;
  }
  .header__logo {
    padding: 20px;
  }
  header.subpages-header,
  header.smaller {
    height: auto;
  }
  header.subpages-header .header__logo,
  header.smaller .header__logo {
    height: 100px;
  }
  ul.header__menu {
    background-color: transparent
  }
  nav {
    display: none;
  }
  #nav-toggle {
    display: block;
    padding-bottom: 50px;
  }
  nav ul li {
    padding: 5px;
  }
}


/***** end HEADER *****/


/*HELLO-SECTION*/

.hello {
  min-height: 105vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: rgba(233, 211, 198, 0.767);
  background-image: url('images/hello.jpg');
  background-size: cover;
}

.hello h1 {
  width: 30%;
  color: #171717;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  right: 150px;
  bottom: 100px;
  margin: auto;
  white-space: pre-line;
}

@media all and (max-width: 1200px) {
  .hello {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 35vh;
  }
  .hello h1 {
    right: auto;
    bottom: auto;
    margin: auto;
  }
}

@media all and (max-width: 1000px) {
  .hello h1 {
    width: 60%;
  }
}

@media all and (max-width: 550px) {
  .hello h1 {
    width: 80%;
  }
}

@media all and (max-width: 400px) {
  .hello h1 {
    width: 85%;
    padding: auto 0;
    font-size: 1.5em;
  }
}


/*END HELLO-SECTION*/


/*ABOUT-SECTION*/

section.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about__image-container,
.about__text-container {
  height: 100%;
  width: 45%;
  text-align: center;
}

.about__image-container img {
  margin: 5% auto;
  height: 90vh;
  width: auto;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__text {
  padding: 0 auto;
}

.about__title~p {
  margin-top: 0;
}

.about__title {
  position: relative;
  margin-top: -20px;
  display: inline-block;
  letter-spacing: 4px;
}

.about button {
  background-color: #fff8eb;
  border: 2px solid rgba(212, 175, 55, 0.78);
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 15px;
  margin: 20px;
  transition: all 500ms ease-in-out;
}

.about button a {
  text-decoration: none;
  color: rgba(212, 175, 55, 0.78);
  transition: all 500ms ease-in-out;
}

.about button:hover {
  background-color: rgba(212, 175, 55, 0.78);
  border: 2px solid rgba(212, 175, 55, 0.78);
}

.about button:hover a {
  color: white;
}

@media all and (max-width: 732px) {
  .about {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .about__image-container,
  .about__text-container,
  .about__image-container img {
    margin: auto;
    text-align: center;
  }
  .about__image-container,
  .about__text-container {
    width: 100%;
  }
}


/*end ABOUT-SECTION*/


/*OFFER-SECTION*/

.offer {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.offer div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer h2 {
  margin-bottom: 0;
}

.offer .offer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.offer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  width: 40%;
  padding: auto, 5%;
  -webkit-padding-start: 0;
}

.offer ul li {
  width: 100%;
  height: 17vh;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer ul li p {
  margin: 5%;
  font-size: 0.9em;
}

.offer-crown {
  margin-top: 5%;
  max-width: 10%;
}

@media all and (max-width: 960px) {
  .offer ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .offer ul li {
    width: 75%;
    margin: 20px auto;
  }
}


/*end OFFER-SECTION*/

.visit {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.visit p {
  font-size: 22px;
  padding-bottom: 50px;
  margin-top: 0;
  font-style: italic;
}


/*CONTACT-SECTION*/

.contact {
  min-height: 90vh;
  background-image: url("images/contact.jpg");
  background-position: 50% 60%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact__form,
.contact__info {
  min-height: 60vh;
  width: 30%;
  background-color: #fff8eb9d;
}

.contact__info p,
.contact__form p {
  font-size: 0.8em;
}

.contact__form {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__info a {
  text-decoration: none;
  color: black;
}

.contact__info .frame-transparent {
  width: 80%;
}

.contact-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.contact-list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-list p {
  padding: 0;
}


/*form*/

.contact__form .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: black;
  /*  padding: 10%;*/
}

.contact__form .form input,
.contact__form .form textarea {
  width: 100%;
  border: 1px solid black;
  background-color: transparent;
  margin-bottom: 15px;
  outline: 0;
  color: black;
}

.contact__form .form input {
  height: 35px;
}


/*change placeholder color */

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
  background-color: #d4af37;
  color: black;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

textarea {
  height: 120px;
  border: none;
  line-height: 100px;
}


/*form*/

@media all and (max-width: 960px) {
  .contact {
    flex-direction: column;
  }
  .contact__form,
  .contact__info {
    margin: auto;
    width: 90%;
  }
}


/*end CONTACT-SECTION*/


/*FOOTER*/

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

footer img {
  height: 35px;
}

footer p {
  font-size: 0.7em;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

@media all and (max-width: 900px) {
  footer {
    flex-direction: column;
    padding: 10px;
  }
}


/*end FOOTER*/


/*top button*/

#top-btn {
  display: none;
  position: fixed;
  font-size: 3em;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(212, 175, 55, 0.78);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

#top-btn:hover {
  color: rgb(212, 175, 55);
  /* Add a dark-grey background on hover */
}