  section {
    padding-top: 20vh;
  }
  /*ABOUT US*/
  
  .about-subpage {
    background-image: url("../images/about-subpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -90% 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-subpage p:last-child {
    padding-bottom: 30px;
  }
  
  @media all and (max-width: 910px) {
    .about-subpage {
      background-position: 0 0;
    }
  }
  /*end ABOUT US*/
  /*WEDDING DRESSES*/
  
  .dresses {
    min-height: 100vh;
    background-image: url("../images/hello.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .dresses ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }
  
  .dresses ul li {
    border: 1px solid black;
    background-color: rgba(226, 208, 192, 0.5);
    height: 200px;
    width: 200px;
    display: flex;
    flex-basis: row;
    justify-content: center;
    align-items: center;
    font-family: 'Parisienne', cursive;
    font-size: 40px;
  }
  
  .dresses ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  #gallery__photos {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .gallery h1.collection-name {
    margin-top: 60px;
  }
  
  #gallery__photos li {
    list-style: none;
    width: 20%;
    margin: 5px;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #d4af376e;
    background-color: white;
    color: #d4af37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gallery img {
    max-height: 80%;
    max-width: 100%;
  }
  
  .dresses ul li.coming-soon {
    height: auto;
    width: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding: 20px;
  }
  /* The Modal (background) */
  
  .modal-outer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.555);
    border: 1px solid #888;
  }
  
  .modal-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .modal-photo {
    height: 100vh;
  }
  /* The Close Button */
  
  .close {
    position: relative;
    margin-right: 100px;
    margin-top: -99vh;
    right: 0;
    left: 0;
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /*LITTLE PRINCESS*/
  
  .little-princess {
    padding-top: 16vh;
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .little-princess img {
    max-height: 65vh;
  }
  
  .princess__text-container {
    width: 50%
  }
  
  .little-princess p:last-child {
    padding-bottom: 30px;
  }
  
  @media all and (max-width: 880px) {
    .little-princess {
      padding-top: 30vh;
    }
  }
  
  @media all and (max-width: 1200px) {
    .dresses ul {
      width: 70%;
    }
  }
  
  @media all and (max-width: 1000px) {
    #gallery__photos li {
      width: 25%;
    }
    .dresses ul {
      width: 80%;
    }
  }
  
  @media all and (max-width: 880px) {
    .dress {
      padding-top: 35vh;
    }
    .dresses ul {
      flex-direction: column;
      -webkit-padding-start: 0;
    }
    .dresses ul li {
      margin: 20px;
    }
    #gallery__photos li {
      width: 60%;
    }
  }
  /*end WEDDNG DRESSES*/
  
  @media all and (max-width: 880px) {
    .little-princess {
      flex-direction: column;
    }
  }
  /*end LITTLE PRINCESS*/
  /*CREATING THE IMAGE*/
  
  .creating-the-image {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .creating-the-image img {
    height: 60vh;
  }
  
  .creating-the-image p {
    text-align: center;
  }
  
  @media all and (max-width: 880px) {
    .creating-the-image {
      padding-top: 30vh;
    }
    .creating-the-image p {
      padding: auto 15px;
    }
  }
  /*end CREATING THE IMAGE*/
  /*SEWING WORKSHOP*/
  
  .sewing-workshop {
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .sewing-workshop img {
    height: 60vh;
  }
  
  .sewing-workshop p:last-child {
    padding-bottom: 30px;
    align-items: baseline;
  }
  
  @media all and (max-width: 970px) {
    .sewing-workshop {
      flex-direction: column;
    }
  }
  /*end SEWING WORKSHOP*/
  /*CONTACT*/
  
  .contact-subpage {
    min-height: 100vh;
  }
  
  @media all and (max-width: 960px) {
    .contact-subpage {
      padding-top: 30vh;
    }
  }
  /*end CONTACT*/